* {
    background-color: #32A24C;
}

.instructions-password {
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}
.send-password {
    text-align: center;
}
label {
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 35px;
}
input {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 30%;
    height: 40px;
    outline: none;
    padding: 10px;
}

.button-send-password {
    background: #111111;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 18%;
    height: 40px;
    cursor: pointer;
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 42px;
    text-align: center;
    margin-top: 2rem;
}
.button-send-password:hover {
    text-decoration: underline;
}

.backlogin {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.backlogin a {
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 42px;
    color: #FFFFFF;
    text-decoration: none;
}
.backlogin a:hover {
    text-decoration: underline !important;
    color: #fff !important;
}

@media (min-width: 320px) and (max-width: 480px) {
    .instructions-password {
        line-height: 1.6rem;
        margin-top: 1rem;
        font-size: 1.2rem;
    }   
    .button-send-password {
        width: 40%;
    }
    .backlogin a {
        font-size: 1rem;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .instructions-password {
        line-height: 1.6rem;
        margin-top: 1rem;
        font-size: 1.2rem;
    }
}