* {
    margin: 0;
    padding: 0;
}
table {
    text-align: center !important;
    padding: 20px !important;
    border-collapse: inherit !important;
}
.button-results {
    display: flex;
    justify-content: center;
}
button.send-results {
    background-color:#C93333;
    color: #fff;
    border-radius: 10px;
    outline: 0;
    cursor: pointer;
    width: 20%;
    margin-top: 1rem;
    font-family: 'Lexend', sans-serif;
}
button.send-results:hover {
    text-decoration: underline;
}
strong {
    font-size: 1.3rem;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;

}
.welcome-message {
    color: #fff;
    margin-top: 1rem;
    padding: 1rem;
}


@media (min-width: 320px) and (max-width: 480px) {
    button.send-results {
        width: 75%;
    }
    table {
        border-collapse: inherit !important;
        padding: 0 !important;
    }
    strong {
        font-size: 1.1rem;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    button.send-results {
        width: 40%;
    }
}