.orientations {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    margin-top: 20px;
    font-family: 'Lexend', sans-serif;
}
.card-title, .card-text {
    background-color: #ffc107!important;
    text-align: center;
    color: #111;
    font-family: 'Lexend', sans-serif;

}
.button-send {
    display: flex;
    justify-content: center;
}
button.send-guesses {
    background-color: #C93333;
    color: #fff;
    border-radius: 10px;
    outline: 0;
    cursor: pointer;
    width: 20%;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: 'Lexend', sans-serif;
}
.form-check-input[type=checkbox] {
    margin-right: 2%;
}
button.send-guesses:hover {
    text-decoration: underline;
}
.back-classification {
    display: flex;
    justify-content: center;
}
.back-classification a {
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
}
.back-classification a:hover {
    text-decoration: underline !important;
    color: #fff !important;
}

@media (min-width: 320px) and (max-width: 480px) {
    .orientations {
        padding: 3px;
    }
    button.send-guesses {
        width: 50%;
    }
}