.orientations {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    margin-top: 20px;
}
.card-title, .card-text {
    background-color: #ffc107!important;
    text-align: center;
    color: #111;
}
.button-send {
    display: flex;
    justify-content: center;
}
button.send-guesses {
    background-color: #C93333;
    color: #fff;
    border-radius: 10px;
    outline: 0;
    cursor: pointer;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: 'Lexend', sans-serif;
}
button.send-guesses:hover {
    text-decoration: underline;
}
.back-classification {
    display: flex;
    justify-content: center;
}
.back-classification a {
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
}
.back-classification a:hover {
    text-decoration: underline !important;
    color: #fff !important;
}