* {
    background-color: #32A24C;
}

.instructions-update {
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}
.register-user {
    text-align: center;
}
label {
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 35px;
}
input {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 30%;
    height: 40px;
    outline: none;
}
i {
    position: absolute;
    top: 34.5%;
    right: 36%;
    background: #fff !important;
}
i:hover {
    color: #00fcb6;
    cursor: pointer;
}
svg:not(:root).svg-inline--fa {
    background: #fff !important;
}
.button-update {
    background: #111111;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 18%;
    height: 40px;
    cursor: pointer;
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 42px;
    text-align: center;
    margin-top: 2rem;
}
.button-update:hover {
    text-decoration: underline;
}

.back-profile {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.back-profile a {
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 42px;
    color: #FFFFFF;
    text-decoration: none;
}
.back-profile a:hover {
    text-decoration: underline !important;
    color: #fff !important;
}
