* {
    background-color: #32A24C;
}

.instructions-register {
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}
.register-user {
    text-align: center;
}
label {
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 35px;
}
input {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 30%;
    height: 40px;
    outline: none;
}
.show-password-register {
    background-color: rgba(0,0,0,0);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 8px;
    text-decoration: none;
    z-index: 0;
    color: #111;
    position: absolute;
    z-index: 1;
    margin-top: -33px;
    margin-left: 10%;
}
svg:not(:root).svg-inline--fa {
    background: #fff !important;
}
.button-register {
    background: #111111;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 18%;
    height: 40px;
    cursor: pointer;
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 42px;
    text-align: center;
    margin-top: 2rem;
}
.button-register:hover {
    text-decoration: underline;
}

.back-login {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.back-login a {
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 42px;
    color: #FFFFFF;
    text-decoration: none;
}
.back-login a:hover {
    text-decoration: underline !important;
    color: #fff !important;
}

@media (min-width: 320px) and (max-width: 480px) {
    .instructions-register {
        line-height: normal;
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }
    .button-register {
        width: 90%;
    }
    .back-login a {
        line-height: normal;
        font-size: 1rem;
    }
    .show-password-register {
        margin-left: 46%;
    }
}
@media(min-width: 768px) and (max-width: 1023px) {
    .show-password-register {
        margin-left: 25%;
    }
}
@media(min-width: 1024px) and (max-width: 1440px) {
    input {
        width: 50% !important;
    }
    .show-password-register {
        margin-left: 25%;
    }
}
@media(min-width: 1441px) and (max-width: 2560px) {
    .show-password-register {
        margin-left: 15%;
    }
}