* {
    background-color: #32A24C;
}
.welcome {
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}
.instructions {
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}
.login {
    text-align: center;
}
label {
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 35px;
}
input {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 30%;
    height: 40px;
    outline: none;
}
input[type="checkbox"] {
    width: 1%;
}
.show-password {
    display: flex;
    justify-content: center;
}
.text-show-password {
    margin-top: 7px;
    color: #fff;
    font-family: 'Lexend', serif;
}
svg:not(:root).svg-inline--fa {
    background: #fff !important;
}
.forgot-password {
    width: 65%;
    margin-top: -2.6rem;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    text-decoration: none;
    font-family: "Lexend", sans-serif;
}
.forgot-password:hover {
    text-decoration: underline !important;
    color: #fff !important;
}
.enter {
    background: #111111;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 18%;
    height: 40px;
    cursor: pointer;
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 42px;
    text-align: center;
}
.enter:hover {
    text-decoration: underline;
}

.register {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.register a {
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 42px;
    color: #FFFFFF;
    text-decoration: none;
}
.register a:hover {
    text-decoration: underline !important;
    color: #fff !important;
}

/* responsivo */
@media (min-width: 320px) and (max-width: 480px) {
    .welcome {
        font-size: 1.7rem;
    }
    .instructions {
        font-size: 1.1rem;
        line-height: normal;
    }
    input[type="checkbox"] {
        width: 5% !important;
    }
    .show-password {
        justify-content: left !important;
        margin-left: 22px;
    }
    .text-show-password {
        text-align: left !important;
    }
    input {
        width: 90% !important;
    }
    .enter {
        width: 65%;
    }
    i.eye-login {
        top: 40.5%;
        right: 9%;
    }
    .forgot-password {
        width: 93%;
    }
    .register a {
        font-size: 1rem;
    }
}

@media(min-width: 768px) and (max-width: 1023px) {
    input {
        width: 50% !important;
    }
    .forgot-password {
        width: 74%;
    }
    input[type="checkbox"] {
        width: 2% !important;
    }
    .show-password {
        margin-left: -6rem;
    }
    .text-show-password {
        text-align: left !important;
    }
}
@media(min-width: 1024px) and (max-width: 1440px) {
    .forgot-password {
        width: 74%;
    }
}